.navbar a {
  position: relative;
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

.navbar a::before {
  content: '';
  position: absolute;
  background: rgb(237, 68, 161);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.navbar a:hover::before,
.navbar a.active::before {
  width: 100%;
}